.OurTeamWrapper {
    padding-top: 120px;
    background-color: #B3B7BC40;

    .container {
        .title {
            letter-spacing: 0.1em;
        }

        .TeamWrapper {
            &__TeamInner {
                padding: 50px 0 40px;
            }
        }
    }
} 

@import './OurTeam_media.scss';