.EventsSection {
    padding: 60px 0;
    background: linear-gradient(55.95deg, #FF3F3A40 0%, #F75E0530 100%);

    .container {
        display: flex;
        align-items: center;
        flex-direction: column;

        .Events {
            width: 100%;
            display: flex;
            row-gap: 15px;
            padding: 50px 0;
            flex-direction: column;
        }

        .moreEvents {
            display: flex;
            column-gap: 30px;
            align-items: center;

            h3 { 
                font-size: 24px;
            }

            a {
                color: white;
                padding: 12px 35px;
                border-radius: 3px;
                background-color: #FF3F3A;
            }
        }
    }
}

@import './EventSection_media.scss';