.forWhom {
    display: grid;
    padding: 160px 0;
    column-gap: 110px;
    grid-template-columns: 1fr 1fr;

    .title {
        grid-column: 1;
    }

    ul {
        li {
            display: flex;
            font-size: 18px;
            column-gap: 10px;
            font-weight: 700;
            align-items: center;

            img {
                width: 16px;
                height: 16px;
            }
        }
    }
}

.EventSubscribe {
    display: flex;
    padding: 40px 90px;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(55.95deg, #FF3F3A30 0%, #F75E0530 100%);

    img {
        width: 280px;
        height: 210px;
    }

    form {
        width: 60%;
        display: grid;
        height: 210px;
        column-gap: 20px;
        grid-template-columns: 1fr 0.3fr;
        grid-template-rows: repeat(3, 1fr);

        h2 {
            grid-row: 1;
            font-size: 28px;
            font-weight: 900;
            grid-column: 1 / 3;
            margin-bottom: 40px;
        }

        input,
        button {
            height: 40px;
        }

        input {
            padding: 0 10px;
            align-self: flex-end;
        }

        button {
            border: none;
            color: white;
            border-radius: 4px;
            align-self: flex-end;
            background-color: #F75E05;
        }

        label {
            display: flex;
            column-gap: 10px;
            grid-column: 1 / 3;
            align-items: center;
            align-self: flex-end;
        }

    }
}